h1{
    background-color:#f3f711
    
}
*{
  background-color:#11d5f7
}
h1{
  border:solid
  
}
.item{
    border:solid;
    justify-content:space-evenly;
    margin-left: 50px;
}

    .grid{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
    }
    .footer{
        display:flex;
        justify-content: flex-end;
    }
    h1{
        text-align: center;
    }
    .flex{
        display: flex;
        font-size: medium;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: initial;
        color:darkmagenta;
        border:darkorange;
        border:solid;
  

    }
   
